.text-node {
  display: inline-block;
  outline: none;
}

/* #thesvg {
  border: 1px solid black;
} */

/* #viewBox {
  border: 2px solid black;
  background: #EBF2DE;
} */

/* .rect {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
} */

.node-text-editor-wrapper {
  /* text-align: left; */
  alignment-baseline: baseline;
  outline: none;
}

text {
  
}

.text-editor {
  /* display: inline-block; */
  background: #3AA544;
  padding: 10px;
  /* outline: none; */
  
  
}

.node-text-editor {
  display: inline-block;
  /* background: #3AA544; */
  padding: 6px;
  outline: none;
  
  width: 100%;
  text-align: center;
}

.node-text-editor:hover {
  display: inline-block;
  /* background: #3AA544; */
  padding: 6px;
  /* outline: none; */

  width: 100%;
  text-align: center;
  border: 1px solid #B9D32C;
  white-space: nowrap;
}

/* .foreign {
  text-align: left;
  alignment-baseline: baseline;
} */

.insideforeign {
  display: inline-block;
  outline: none;
}

svg {
  border: 1px solid black;
  outline: none;
}