<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Sweet Title</title>
  <link rel="stylesheet" href="../diagram.css" />
</head>

<body>
  <div class="app">
    <div class="app-body">
      <div class="container">
        <svg id="thesvg" width="100%" height="100%"></svg>
    <svg id="thesvg2" width="400" height="300"></svg>
      </div>
    </div>
  </div>
  <script src="./editable-text.js" type="module"></script>
  <script src="./text.js" type="module"></script>
</body>

</html>