* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	z-index: 1;
}
body {
	height: 90%;
	overflow: hidden;
}

.app {
	position: relative;
	width: 100%;
	height: 90vh;
	overflow: hidden;

}

.button-container {}

.toggle-button {}

.footer-menu {
	position: absolute;
	bottom: 0;
	display: grid;
	
	grid-template-rows: 24px 1fr;
	grid-template-columns: 1fr;
row-gap: 5px;
	width: 100%;
	height: 135px;
	padding: 0px 0px;
	background: #9CC061;
	transition: 0.1s;
}

.menu-top-bar {
	width: 100%;
	padding: 0px;
	text-align: center;
	/* font-size: 1.3em; */
	/* font-weight: bold; */
	color: white;
	transition: 0.2s;
}
.menu-top-bar.pressed {
box-shadow: 0 0 30px 0 inset #678B2C;
	
}


.option-container {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	width: 100%;
	height: 70px;
	padding: 5px 5px;
	margin: 0 4px;
	border-radius: 5px;
	backdrop-filter: brightness(120%);
	overflow: scroll;
}

.menu-option {
	background: #FFFFFF94;
	padding: 10px;
	min-width: 90px;
	transition: 0.15s;
	border: 1px solid #FFFFFF00;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 #00000045;
}

.menu-option:active {
	background: #FFFFFFBA;
	border: 1px solid #79797994;
	box-shadow: 0 0 7px 0 #00000050;


}

.hide {
	height: 0px;
	padding: 0;
}

.expand {
	/* height: 300px; */
}